<!DOCTYPE html>
<html>
  <head>
    <title>Drum Kit</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Web-based drum kit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/notes.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="node_modules/ionicons/css/ionicons.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div>
      <div id="container">
        <header style="padding-bottom:20px;">
          <h1>Web Drum Kit</h1>
        </header>
        <content>
          <div id="beatbox"></div>

        </content>
        <footer style="height:30px;">
          <div style="float:right;margin-top:10px;padding:5px;">
            Powered by <a href="http://www.freesound.org/">FreeSound.org</a>
          </div>
        </footer>
      </div>
    </div>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap-slider/dist/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
    <script type="text/javascript" src="node_modules/react-bootstrap/dist/react-bootstrap.js"></script>
    <script type="text/javascript" src="js/beatbox.js"></script>
  </body>
</html>